.Add-Page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .Add {
    width: 80%;
    height: 100%;
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
  }
  .Add-Whole {
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.71);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    color: white;
    padding: 2.5% 0;
  }
  .Add-Form {
    width: 100%;
    padding: 0.5% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .AddCar-div-Fuel,
  .AddCar-div-Make,
  .AddCar-div-Model,
  .AddCar-div-Type {
    width: 25%;
    height: fit-content;
    padding: 1%;
    display: flex;
    flex-direction: column;
  }
  .AddCar-Fuel,
  .AddCar-Model,
  .AddCar-Make,
  .AddCar-Type {
    border: 2px solid silver;
    background-color: rgb(237, 233, 233);
    border-radius: 4px;
    outline: none;
    outline-offset: none;
    width: 75%;
    padding: 2%;
    margin-left: 1%;
    font-size: medium;
  }
  .AddCar-Fuel,
  .AddCar-Model,
  .AddCar-Make,
  .AddCar-Type {
    margin: 1%;
  }
  .AddCar-Fuel-label,
  .AddCar-Model-label,
  .AddCar-Make-label,
  .AddCar-label,
  .AddCar-label,
  .AddCar-Year-label,
  .AddCar-Type-label {
    text-align: start;
    font-weight: bold;
    margin: 1%;
  }
  .Add-NewForm {
    width: 100%;
    padding: 0.5% 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .AddCar-div-2 {
    width: 100%;
    padding-left: 2%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
  }
  .AddCar,
  .AddCar {
    border: 2px solid silver;
    background-color: rgb(237, 233, 233);
    border-radius: 4px;
    outline: none;
    outline-offset: none;
    width: 75%;
    padding: 2%;
    margin-left: 1%;
    font-size: medium;
  }
  .AddCar,
  .AddCar {
    width: 90%;
    margin: 1%;
  }
  .AddCar-label,
  .AddCar-label {
    text-align: start;
    font-weight: bold;
    margin: 1%;
  }
  .Add-btns {
    display: flex;
    justify-content: center;
  }
  .Add-btns button {
    border: none;
    border-radius: 2px;
    padding: 1%;
    width: 15%;
    margin-top: 1.5%;
    background-color: #e74c3c;
    color: white;
    transition: background-color 0.5s;
  }
  .Add-btns button:hover {
    cursor: pointer;
    background-color: rgb(178, 43, 28);
  }
  .Add-title-div {
    text-align: center;
  }
  .Add-title-div h2 {
    margin: 0%;
  }
  .actual-btn {
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    margin: auto;
    transition: background-color 0.5s;
  }
  .actual-btn:hover {
    background-color: rgb(62, 1, 106);
  }
  #file-chosen {
    margin-left: 0.3rem;
    font-family: sans-serif;
  }
  .Add-file-btn {
    padding: 2%;
    padding-left: 40%;
  }
  .Add-file-btn button {
    padding: 1%;
    border-radius: 2px;
    border: none;
    background-color: #e74c3c;
    transition: background-color 0.5s;
    color: white;
    cursor: pointer;
    margin-left: 2%;
  }
  .Add-file-btn button:hover {
    background-color: rgb(178, 43, 28);
  }